.note{class: note.tags_as_css_classes, id: "note#{note.id}"}
  .content
    != for_display(note.content)
  = form_for(note) do |f|
    = f.text_area :content
    = f.hidden_field :tag_id, {value: @tag.id}
    .hidden-submit
      = submit_tag 'Create', tabindex: -1
  .data
    .tags
      = note.tags.map(&:name).join(', ')
    = link_to(image_tag('x.png', height: 15), archive_note_path(note, {tag_id: note.tags.first.id}), method: :delete)
