#sidebar
  - @new_tag = Tag.new
  = form_for @new_tag do |f|
    = f.text_field :name, tabindex: 2
    .hidden-submit
      = f.submit 'Create', tabindex: -2
  %ul
    - Tag.all.each do |tag|
      %li.tag{id: "tag#{tag.id}"}
        = link_to(tag.name, notes_tag_path(tag))
  